---
import Github from "../assets/github.svg"
import LinkedIn from "../assets/linkedin.svg"
import Gmail from "../assets/gmail.svg"
import Bluesky from "../assets/bluesky.svg"

const pfpUrl = "https://github.com/CollinBrennan.png"

const links = [
  {
    name: "Github",
    url: "https://github.com/CollinBrennan",
    icon: Github,
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/collinrbrennan",
    icon: LinkedIn,
  },
  {
    name: "Bluesky",
    url: "https://bsky.app/profile/collinbrennan.dev",
    icon: Bluesky,
  },
  {
    name: "Email",
    url: "mailto:contact@collinbrennan.dev",
    icon: Gmail,
  },
]

const projects = [
  {
    name: "Skill Chronicle",
    url: "https://skill-chronicle.vercel.app/",
    description: "Skill-learning log that tracks progress over time.",
    tags: ["Next.js", "PostgreSQL", "Tailwind"],
  },
  {
    name: "Guitar Ecommerce Site",
    url: "https://github.com/CollinBrennan/guitar-shop",
    description: "Online store for customizable guitars.",
    tags: ["React", "Express", "MongoDB", "Node", "Stripe API"],
  },
  {
    name: "Wrdz",
    url: "https://wrdz-7570a.web.app/",
    description: "Highly customizable random word generator.",
    tags: ["React", "Node", "Firebase", "Tailwind"],
  },
  {
    name: "This site!",
    url: "https://github.com/CollinBrennan/personal-site",
    description: "Source code for my personal website.",
    tags: ["🚀 Astro", "Tailwind"],
  },
]
---

<main
  class="flex flex-col items-center text-center max-w-xl m-auto py-16 px-4 gap-10"
>
  <img src={pfpUrl} alt="Profile picture" class="rounded-full size-32" />

  <div>
    <h1 class="font-bold text-2xl sm:text-3xl">Collin Brennan</h1>
    <h1 class="font-semibold text-muted pt-1">Software Engineer</h1>
  </div>

  <p class="text-muted text-balance">
    Computer nerd and coffee addict from New Jersey, designing and building
    full-stack web apps!
  </p>

  <div class="flex gap-8 py-4">
    {
      links.map((link) => (
        <a
          href={link.url}
          target="_blank"
          aria-label={link.name}
          title={link.name}
          class="fill-muted transition-all hover:-translate-y-0.5 hover:fill-foreground size-6"
        >
          <link.icon />
        </a>
      ))
    }
  </div>

  <div class="flex flex-col w-full gap-2">
    {
      projects.map((project) => (
        <a
          href={project.url}
          target="_blank"
          class="card relative text-left p-4 rounded-lg bg-card hover:border-muted-hover hover:-translate-y-0.5 transition-all"
        >
          <h1 class="font-bold sm:text-lg">{project.name}</h1>
          <p class="text-muted text-sm sm:text-base">{project.description}</p>
          <ul class="pt-4 flex flex-wrap gap-2">
            {project.tags.map((tag) => (
              <li class="font-bold text-xs rounded-full bg-accent px-1.5">
                {tag}
              </li>
            ))}
          </ul>
        </a>
      ))
    }
  </div>
</main>
