---
const { url, name, icon } = Astro.props
---

<a
  href={url}
  target="_blank"
  aria-label={name}
  title={name}
  class="fill-muted transition-all hover:-translate-y-0.5 hover:fill-foreground size-6"
>
  <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>{name}</title>
    <path d={icon}></path>
  </svg>
</a>
